{% extends 'base.html' %}

{% block title %}
House 
{% endblock %} 
{% block content %}

<div class="content-heading"><h1>ORODHA YA NYUMBA</h1></div>
<div class="row">
    <div class="col-lg-12 mb-2">
        <a href="{{url_for('house_page')}}"
           class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> SAJILI NYUMBA MPYA</a>
    </div>
</div>
{{file}}
    <table id="datatablesSimple">
        <thead>
            <tr>
                <th>JINA LA NYUMBA </th>
                <th>SEHEMU</th>
          
                <th>AINA YA NUMBA</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            
        </thead>
           
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.house_name }}</td>
                <td>{{ result.house_location }}</td>

                <td>{{ result.category }}</td>
                <td style="background-color: green;"><a href="/housedetails/{{ result.id }}" ><span class="fa fa-info" style="font-size: 16px; color: white;" data-bs-toggle="tooltip" data-bs-placement="top" title="Info"></span></a> </td>
                <td style="background-color: blue;"><a href="/updatehouse/{{ result.id }}"> <span class="fa fa-marker" style='font-size:16px;color:white;' color="&#xf044;" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></span></a> </td>
                <td style="background-color: red;"><a href="/confirmdeletehouse/{{ result.id }}"> <span class="fa fa-trash" style='font-size:16px;color:white;' data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"></span></a> </td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}