{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}

<h1 class="mt-4">Upangishaji wa nyumba {{year}}</h1>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Nyumba</li>
</ol>
    {% for house in houses %}
    <div class="col-md-2 mb-2">
        <div class="card bg-dark text-white shadow">
           
           <a href="gethouse/{{house.id}}" style="text-decoration: none;">
                <div class="card-body">
                    
                    <div class="text-white-50">{{house.house_name}} </div>
                </div>
            </a>
        </div>
    </div>
    {%endfor%}
    




{% endblock %}