{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}


      
          <div class="row">
             <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="card-title text-left alert alert-default"><b style="font-size:22px;">TAARIFA ZA MPANGAJI</b></div>
                <div class="card" style="width:fit-content;">
                    <img class="card-img-top" src="/static/uploads/{{tenObj.image_path}}" alt="{{tenObj.surname}}">
                    
                    <div class="card-body">
                    <h5 class="card-title">{{tenObj.first_name +' '+ tenObj.surname}}</h5>
                    <p class="card-text">ni mkazi wa {{ tenObj.house_name}} toka tarehe {{tenObj.date_moved_in}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone: {{tenObj.phone}}</li>
                    <li class="list-group-item">Email: {{tenObj.email}}</li>
                    <li class="list-group-item">NIDA: {{tenObj.nida}}</li>
                    <li class="list-group-item">NYUMBA: {{tenObj.house_name}}</li>
                    <li class="list-group-item">IDADI YA VYUMBA ANAVYOISHI: {{tenObj.num_room_to_take}}</li>
                    <li class="list-group-item">KODI YA MWEZI: TSH {{tenObj.rent_per_month}}/=</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{url_for('tenant_list_page')}}" class="card-link">Back</a>
                        <!-- <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
             </div>
          </div>
        </div>
    </div>



  

{%endblock %}