{% extends 'base.html' %}

{% block title %}
Update House
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <div class="content-heading"><h1>BADILI TAARIFA ZA MPANGAJI</h1></div>
    <div class="container-fluid">
       <div class="card card-default d-lg-block">
          <div class="row">
             <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="card-title text-left alert alert-default"><b style="font-size:22px;">TAARIFA ZA MPANGAJI</b></div>
                <div class="card-body">
                   <form class="form-updatetenant" method="POST" action="">
                     
                      <fieldset>
                        <legend></legend>
                        JINA LA MPANGAJI:
                       <input type="text" name="first_name" value="{{ tenant_to_update.first_name }}" class="form-control">
                       <p></p>
                       JINA LA UKOO:
                       <input type="text" name="surname" value="{{ tenant_to_update.surname }}" class="form-control">
                       <p></p>
                       NAMBA YA NIDA:
                       <input type="text" name="nida" value="{{ tenant_to_update.nida }}" class="form-control">
                       <p></p>
                       NAMBA YA SIMU:
                       <input type="text" name="phone" value="{{ tenant_to_update.phone }}" class="form-control">
                       <p></p>
                       Email::
                       <input type="text" name="email" value="{{ tenant_to_update.email }}" class="form-control">
                       <p></p>
                       
                     
                       <p></p>
                         NYUMBA
                        <select id ="house_id" name="house_id" class="form-control">
                          
                           {% for h in choices %}
                           <option value="{{h[0]}}" {% if h[0] == state.house_id %} selected {% endif %}>{{h[1]}}</option>
                           {% endfor %}
                        </select>
                       <p></p>
                  
                       GHARAMA KWA CHUMBA:
                       <input type="text" id="price_each_room" name="price_each_room" value="{{ tenant_to_update.price_each_room }}" class="form-control">
                       <p></p>
                       KODI YA MWEZI:
                       <input type="text" d="rent_per_month" name="rent_per_month" value="{{ tenant_to_update.rent_per_month }}" class="form-control">
                  
                    </fieldset>
                      <br>
                   
                      <input class="btn btn-primary" id="submit" name="submit" type="submit" value="BADILI">
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <script>
      
    let total=0.00;
    let rent = 0.00; 
    let price_each_room = document.getElementById("price_each_room");
    let rent_per_month = document.getElementById("rent_per_month")
   
    months_of_payment.onchange = function(){
        let res = price_each_room.value;
       total = (months_of_payment.value * rent_per_month.value);
       $('#total_payable').val(total);
    }

 </script>
 {% endblock %}